.titulo-principal{
    text-align: center;
}

.titulo2 {
    text-align: center;
}

.pagode {
    font-style:italic;
   
}

.titulo {
    background-color: #478888;
}

.titulomaroto {
    background-color: rgb(189, 207, 207);
}

